.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.conteiner{
    font-family: "Poppins", sans-serif;
    background-color: rgb(1,1,10);
    height: 125px;
}

.hzinho{
    font-size: 90px;
    color: rgba(251, 152,60);
    margin-left: 50px;
    justify-content: center;
    text-align: center;
}