.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.container{
    font-family: "Poppins", sans-serif;
    display:flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #93D9D8;
    height: 76px;
}

.decoracao{
    display:flex;
    align-items: center;
    justify-content: center;
    margin-right: 95px;
    gap: 10px;
}

.logo{
    width: 70px;
    height: 65px;
    margin: 0;
}

.footerp{
    margin-left: 5px;
    color: #112A46;
    font-weight:700;
    font-size: 24px;
}

.footerpezin{
    color: #112A46;
    font-weight:700;
    font-size: 24px;
}