.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.container{
    font-family: "Poppins", sans-serif;
    width: 96%;
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menutable{
    width: 700px;
    height: 500px;
    background-color: #e6e1e6e8;
    padding: 10px;
    border-radius: 36px;
    border: 9px solid rgb(97,85,60,0.1);
}

.menutd{
    text-align: center;
}

.menutd img{
    margin-bottom: 5px;
}

.menutd label{
    display: block;
    margin-top: 5px;
    color: rgb(112,112,111);
    font-size: 18px;

}